<h1>Bücher des TOK</h1>
  <ul class="books">
      <%= render @media %> <!-- partial _medium.html.erb for displaying a single medium -->
  </ul>

<br />
<br />
<%= link_to 'Neues Buch', new_medium_path %>
